<html>
      <body>
        <div class="flex-container">
        <div class="content-container">
          <div class="form-container">
            <form action="logincheck" method="POST" >
              <h1>
                Enter Username:
              </h1>
              <br>
              <br>
              <span class="subtitle">USERNAME:</span>
              <br>
              <input type="text" name="username" id="username" value="">
              <br><br>
              <input type="submit" value="SUBMIT" class="submit-btn">
            </form>
          </div>
        </div>
      </div>
      <link rel="stylesheet" href="static/login.css">
    </body>
</html>